<div class="container">
  <hr />
  <h2>Registry Data</h2>
  <div class="clearfix"></div>
  <hr />

  <div class="alert alert-info alert-dismissible" role="alert" ng-if="info">
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true" ng-click="clearInfo()">&times;</span>
    </button>
    {{info}}
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Index</th>
        <th>Employee ID</th>
        <th>Remote Login</th>
        <th>Location</th>
        <th>Sign In</th>
        <th>Sign Out</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="registry in registryList">
        <td>{{registryList.registryId}}.</td>
        <td>{{registryList.employeeId}}</td>
        <td>{{registryList.isRemote}}</td>
        <td>{{registryList.location}}</td>
        <td>{{registryList.signIn}}</td>
        <td>{{registryList.signOut}}</td>
      </tr>
    </tbody>
  </table>
</div>
