<div>
    <h1>Welcome {{logInObj.employee.firstName}}</h1>

    <h1>Sign In Time: {{logInObj.registry.signIn}}</h1>

    <div ng-if="logInObj.employee.isAdmin" class="d-flex p-2 justify-content-center mb-5">
        <a type="button" class="btn btn-info mr-2" href="/employees">View Employees</a>
        <a type="button" class="btn btn-info mr-2" href="/login">Login Page</a>
        <a type="button" class="btn btn-info mr-2" href="/registry">View Registry</a>
        <a type="button" class="btn btn-info mr-2" href="/loggedIn">logged in</a>
    </div>       

    <p>
        <input type="submit" class="btn btn-danger" value="Log Out" ng-click="logout()">
    </p>
</div>
